body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  padding: 20px;
}

.menu {
  background-color: #f8f9fa;
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.no-decoration {
  text-decoration: none;
  display: flex;
}

.nav-menu {
  font-size: 20px;
  text-decoration: none;
  margin-top: -10px;
  margin-right: 10px;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  color: grey;
}

.active, .nav-menu:hover {
  color: black;
}

button {
  color: #396;
  /*font-weight: bold;*/
  font-size: 16px;
  padding: 8px;
  min-width: 70px;
  border: 1px solid #396;
  border-radius: 4px;
  background-color: white;
  box-shadow: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
  color: white;
  background-color: #396;
}

button.delete {
  color: darkred;
  border: 1px solid darkred;

}

button.delete:hover {
  color: white;
  background-color: darkred;
}

input, textarea {
  width: 40%;
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px 8px;
  margin: 2px 0 15px;
  font-size: 16px;
}

select {
  width: 10%;
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px 8px;
  margin: 2px 0 15px;
  font-size: 16px;
}

label {
  display: block;
}

.cards-list {
  height: auto;
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  justify-content: flex-start;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 0 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card-body {
  margin: 10px;
}

.date {
  color: green;
}

/*.last-post {*/
/*  display: block;*/
/*  width: 450px;*/
/*  margin: 0 0 10px;*/
/*  padding: 10px;*/
/*  border: 1px solid #ccc;*/
/*  border-radius: 5px;*/
/*}*/

.red_color {
  color: red;
}

.logout {
  color: darkred;
  cursor: pointer;
}

.logout:hover {
  color: red;
}

.hello {
  margin-left: 90px;
  display: flex;
  align-self: center;
  color: #396;
}
